@charset "utf-8";
/*
Template Name: RS-5 Clean
Author: <a href="http://www.os-templates.com/">OS Templates</a>
Author URI: http://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: http://www.os-templates.com/template-terms
File: 1200px Framework CSS
*/

.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter, .one_fifth, .two_fifth, .three_fifth, .four_fifth{
	display:inline-block; float:left; margin:0 0 0 5%; list-style:none;
	}

.first, .one_half:first-child, .one_third:first-child, .two_third:first-child, .one_quarter:first-child, .two_quarter:first-child, .three_quarter:first-child, .one_fifth:first-child, .two_fifth:first-child, .three_fifth:first-child, .four_fifth:first-child{
	margin-left:0;
	}

.two_half, .three_third, .four_quarter, .five_fifth{
	display:block; width:100%; clear:both;
	}

/* Half Grid */

.one_half{width:47.5%;}

/* Third Grid */

.one_third{width:30%;}
.two_third{width:65%;}

/* Quarter Grid */

.one_quarter{width:21.25%;}
.two_quarter{width:47.5%;}
.three_quarter{width:73.75%;}

/* Fifth Grid */

.one_fifth{width:16%;}
.two_fifth{width:37%;}
.three_fifth{width:58%;}
.four_fifth{width:79%;}